<!-- <style> -->
<!-- /* #postlist */ -->
<!-- /* { */ -->
<!-- /* border-color: gray; */ -->
<!-- /* border-style: ridge; */ -->
<!-- /* border-width: 2px; */ -->
<!-- /* border-spacing:em; */ -->
<!-- /* margin-top: 2%; */ -->
<!-- /* margin-bottom: 2%; */ -->
<!-- /* } */ -->
<!-- /* .panel-heading,.panel-body,.panel-footer */ -->
<!-- /* { */ -->
<!-- /* margin-left: 2%; */ -->
<!-- /* margin-bottom: 2%; */ -->
<!-- /* } */ -->
<!-- </style> -->
<!-- <div class="container" ng-controller="bcontroller as bc"> -->
<!-- 	<div class="row" ng-repeat="vblog in bc.blogs"> -->
<!-- 		<div class="col-md-12"> -->
<!-- 			<div id="postlist"> -->
<!-- 				<div class="panel"> -->
<!-- 					<div class="panel-heading"> -->
<!-- 						<div class="text-center"> -->
<!-- 							<div class="row"> -->
<!-- 								<div class="col-sm-9"> -->
<!-- 									<h3 class="pull-left">{{vblog.blogName}}</h3> -->
<!-- 								</div> -->
<!-- 								<div class="col-sm-3 date"> -->
<!-- 									<h4 class="pull-right"> -->
<!-- 										<small><em>Created On:{{vblog.createDate}} </em></small> -->
<!-- 									</h4> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->

<!-- 					<div class="panel-body">{{vblog.blogContent}}</div> -->

<!-- 					<div class="panel-footer"> -->
<!-- 						<span class="label label-default">Created By&nbsp;:&nbsp;&nbsp;{{vblog.userdetail.firstName}}&nbsp;{{vblog.userdetail.lastName}}</span> -->
<!-- 						<span class="label label-default pull-right"> <a  -->
<!-- 							ng-click="bc.selectoneblog(vblog.blogId)"> Comment <span -->
<!-- 								class="glyphicon glyphicon-pencil"></span> -->
<!-- 						</a> -->
<!-- 						</span> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- </div> -->

<style>
.panel-shadow {
	box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

.panel-white {
	border: 1px solid #dddddd;
}

.panel-white  .panel-heading {
	color: #333;
	background-color: #fff;
	border-color: #ddd;
}

.panel-white  .panel-footer {
	background-color: #fff;
	border-color: #ddd;
}

.post .post-heading {
	height: 95px;
	padding: 20px 15px;
}

.post .post-heading .avatar {
	width: 60px;
	height: 60px;
	display: block;
	margin-right: 15px;
}

.post .post-heading .meta .title {
	margin-bottom: 0;
}

.post .post-heading .meta .title a {
	color: black;
}

.post .post-heading .meta .title a:hover {
	color: #aaaaaa;
}

.post .post-heading .meta .time {
	margin-top: 8px;
	color: #999;
}

.post .post-image .image {
	width: 100%;
	height: auto;
}

.post .post-description {
	padding: 15px;
}

.post .post-description p {
	font-size: 14px;
}

.post .post-description .stats {
	margin-top: 20px;
}

.post .post-description .stats .stat-item {
	display: inline-block;
	margin-right: 15px;
}

.post .post-description .stats .stat-item .icon {
	margin-right: 8px;
}

.post .post-footer {
	border-top: 1px solid #ddd;
	padding: 15px;
}

.post .post-footer .input-group-addon a {
	color: #454545;
}

.post .post-footer .comments-list {
	padding: 0;
	margin-top: 20px;
	list-style-type: none;
}

.post .post-footer .comments-list .comment {
	display: block;
	width: 100%;
	margin: 20px 0;
}

.post .post-footer .comments-list .comment .avatar {
	width: 35px;
	height: 35px;
}

.post .post-footer .comments-list .comment .comment-heading {
	display: block;
	width: 100%;
}

.post .post-footer .comments-list .comment .comment-heading .user {
	font-size: 14px;
	font-weight: bold;
	display: inline;
	margin-top: 0;
	margin-right: 10px;
}

.post .post-footer .comments-list .comment .comment-heading .time {
	font-size: 12px;
	color: #aaa;
	margin-top: 0;
	display: inline;
}

.post .post-footer .comments-list .comment .comment-body {
	margin-left: 50px;
}

.post .post-footer .comments-list .comment>.comments-list {
	margin-left: 50px;
}
</style>
<link rel="stylesheet" type="text/css"
	href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container" ng-controller="bcontroller as bc">
	<h2 align="center" style="color: #008ba3;">Blogs</h2>

	<div class="row" ng-repeat="vblog in bc.blogs"
		style="margin-top: 2%; margin-bottom: 2%">
		<div class="col-sm-12">
			<div class="panel panel-white post panel-shadow">
				<div class="post-heading">
					<div class="pull-left image">
						<img src="http://bootdey.com/img/Content/user_1.jpg"
							class="img-circle avatar" alt="user profile image">
					</div>
					<div class="pull-left meta">
						<div class="title h5" style="color: #008ba3;">
							<a href="#"><b>{{vblog.userdetail.firstName}}&nbsp;{{vblog.userdetail.lastName}}</b></a>
							made a post.
						</div>
						<h6 class="text-muted time">{{vblog.createDate}}</h6>
					</div>
				</div>
				<div class="post-description">
					<p>{{vblog.blogContent}}</p>
					<div class="stats">
<!-- 						<a href="#" class="btn btn-default stat-item"> <i -->
<!-- 							class="fa fa-thumbs-up icon"></i>2 -->
<!-- 						</a> <a href="#" class="btn btn-default stat-item"> <i -->
<!-- 							class="fa fa-share icon"></i>12 -->
<!-- 						</a> -->
						<button type="button" class="btn btn-default stat-item" ng-click="bc.selectoneblog(vblog.blogId)">View Comments<span class="glyphicon glyphicon-pencil"></span></button>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>


