<style>
.panel-shadow {
	box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

.panel-white {
	border: 1px solid #dddddd;
}

.panel-white  .panel-heading {
	color: #333;
	background-color: #fff;
	border-color: #ddd;
}

.panel-white  .panel-footer {
	background-color: #fff;
	border-color: #ddd;
}

.post .post-heading {
	height: 95px;
	padding: 20px 15px;
}

.post .post-heading .avatar {
	width: 60px;
	height: 60px;
	display: block;
	margin-right: 15px;
}

.post .post-heading .meta .title {
	margin-bottom: 0;
}

.post .post-heading .meta .title a {
	color: black;
}

.post .post-heading .meta .title a:hover {
	color: #aaaaaa;
}

.post .post-heading .meta .time {
	margin-top: 8px;
	color: #999;
}

.post .post-image .image {
	width: 100%;
	height: auto;
}

.post .post-description {
	padding: 15px;
}

.post .post-description p {
	font-size: 14px;
}

.post .post-description .stats {
	margin-top: 20px;
}

.post .post-description .stats .stat-item {
	display: inline-block;
	margin-right: 15px;
}

.post .post-description .stats .stat-item .icon {
	margin-right: 8px;
}

.post .post-footer {
	border-top: 1px solid #ddd;
	padding: 15px;
}

.post .post-footer .input-group-addon a {
	color: #454545;
}

.post .post-footer .comments-list {
	padding: 0;
	margin-top: 20px;
	list-style-type: none;
}

.post .post-footer .comments-list .comment {
	display: block;
	width: 100%;
	margin: 20px 0;
}

.post .post-footer .comments-list .comment .avatar {
	width: 35px;
	height: 35px;
}

.post .post-footer .comments-list .comment .comment-heading {
	display: block;
	width: 100%;
}

.post .post-footer .comments-list .comment .comment-heading .user {
	font-size: 14px;
	font-weight: bold;
	display: inline;
	margin-top: 0;
	margin-right: 10px;
}

.post .post-footer .comments-list .comment .comment-heading .time {
	font-size: 12px;
	color: #aaa;
	margin-top: 0;
	display: inline;
}

.post .post-footer .comments-list .comment .comment-body {
	margin-left: 50px;
}

.post .post-footer .comments-list .comment>.comments-list {
	margin-left: 50px;
}

.btn
{
background-color: #008ba3;
}
</style>

<div class="container" ng-controller="bcontroller as bc">
	<div class="row" style="margin-top: 2%; margin-bottom: 2%">
		<div class="col-sm-12">
			<div class="panel panel-white post panel-shadow">
				<div class="post-heading">
					<div class="pull-left image">
						<img src="http://bootdey.com/img/Content/user_1.jpg"
							class="img-circle avatar" alt="user profile image">
					</div>
					<div class="pull-left meta">
						<div class="title h5" style="color: #008ba3;">
							<a href="#"><b>{{bc.blog.userdetail.firstName}}&nbsp;{{bc.blog.userdetail.lastName}}</b></a>
							made a post.
						</div>
						<h6 class="text-muted time">{{bc.blog.createDate}}</h6>
					</div>
				</div>
				<div class="post-description">
					<p>{{bc.blog.blogContent}}</p>
					<div class="stats">
						<button type="button" style="color: white" class="btn btn-default stat-item"
							ng-click="bc.updatelike(bc.blog.blogId)">
							{{bc.likedislike.likecount}} &nbsp;&nbsp;&nbsp; <span
								class="fa fa-thumbs-up icon""></span>
						</button>
						<button type="button" style="color: white" class="btn btn-default stat-item"
							ng-click="bc.updatedislike(bc.blog.blogId)">
							{{bc.likedislike.dislikecount}} &nbsp;&nbsp;&nbsp;<span
								class="fa fa-thumbs-down icon""></span>
						</button>
					</div>
				</div>
								<div class="post-footer">
									<div class="input-group">
										<form role="form" method="post" ng-submit="bc.addcomment()">
											<textarea class="form-control" placeholder="Add a comment"
												 ng-model="bc.blogcomment.blog_Comment"></textarea>
											<button>
												<i class="fa fa-pencil"></i>
											</button>
										</form>
									</div>
									<ul class="comments-list"
										ng-repeat="vblogcomment in bc.blogcomments">
										<li class="comment"><a class="pull-left" href="#"> <img
												class="avatar" src="http://bootdey.com/img/Content/user_1.jpg"
												alt="avatar">
										</a>
											<div class="comment-body">
												<div class="comment-heading">
													<h4 class="user">{{vblogcomment.userdetail.firstName}}&nbsp;{{vblogcomment.userdetail.lastName}}</h4>
													<h5 class="time">{{vblogcomment.blogComment_Date}}</h5>
												</div>
												<p>{{vblogcomment.blog_Comment}}</p>
											</div></li>
									</ul>
								</div>
			</div>
		</div>
	</div>
</div>